{% extends 'base.html' %}
{% load static %}
{% block title%}Over Ons{% endblock %}
{% block content %}
<!-- banner -->

<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>Wij hebben 10 jaar uitstekende ervaring met particulieren en bedrijven !</h1>
                    <span>STEEDS METEEN JE GELD CASH OF OVERSCHRIJVING</span>

                    <a href="{% url 'upload' %}">Auto Aanbieden</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end banner -->

{% endblock %}


